# Ignore node_modules
node/node_modules/
dist/
build/

# Ignore img folder
img/
tamagotchi/

# Ignore everything in the node folder except specific files
node/*
!node/src
!node/package.json
!node/webpack.config.js
!node/readme.md

# Ignore other unnecessary files (customize as needed)
*.log
