.impressum-container {
    text-align: center;
    margin-top: 20px;
}

.button-container {
    display: inline-flex;
    gap: 10px;
}

.impressum-toggle,
.datenschutz-toggle {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    font-size: 12px;
    color: #ffffff;
    cursor: pointer;
    padding: 6px 10px;
    border-radius: 5px;
}

.impressum-toggle:hover,
.datenschutz-toggle:hover {
    background-color: rgba(200, 255, 255, 0.5);
}

.impressum-content {
    display: none;
    font-size: 13px;
    color: #333;
    background-color: rgba(255, 245, 235, 0.98);
    padding: 15px;
    border: 1px solid #000000;
    border-radius: 8px;
    width: 280px;
    max-width: 90%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    margin: 10px auto 0; /* Center align with auto left/right margins */
    text-align: center; /* Center text inside the box */
    font-family: 'Arial', sans-serif;
    line-height: 1.4;
}


.impressum-content p {
    margin-bottom: 10px;
}

.impressum-content a {
    color: #77311f;
    text-decoration: none;
    font-weight: bold;
}

.impressum-content a:hover {
    text-decoration: underline;
}
