.highscore {
    position: relative;
    background-image: url('../img/bg_best.webp');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 40px 20px;
    margin: 20px auto;
    text-align: center;
    color: #fff;
    max-width: 1100px;
    width: 100%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    aspect-ratio: 2535 / 2720;
    font-size: 1.5rem;
    text-align: start;
    font-family: "Montserrat variant0", Tofu;
    font-weight: 700;
    line-height: initial;
    opacity: 1;
    transition-duration: 350ms;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
    z-index: 2;
}


.highscore h3 {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 20px;
    font-weight: bold;
}

/* Highscore Tabs */
.highscore-tabs {
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.highscore-tabs button {
    padding: 10px 20px;
    background-color: #77311f;
    color: white;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 5px;
    border: 5px solid black;
    text-shadow:
        -1px -1px 0 black,
        /* Top left */
        1px -1px 0 black,
        /* Top right */
        -1px 1px 0 black,
        /* Bottom left */
        1px 1px 0 black;
}

.highscore-tabs button.active,
.highscore-tabs button:hover {
    background-color: #c39c40;
}

/* Highscore List */
.highscore-list {
    display: grid;
    align-items: center;
    margin-bottom: 20px;
    max-width: 800px;
    /* Increased max width for more space */
    margin: 0 auto;

}

/* Highscore Item Styles */
.highscore-item {
    display: grid;
    grid-template-columns: 60px auto 160px;
    /* Increased column width for more balance */
    align-items: center;
    color: #fff;
    border-radius: 8px;
    padding: 5px;
    /* Added padding around the entire item */
    gap: 5px;
    font-stretch: expanded;
    /* Tries to make the font wider if supported */
}

/* Odd rows */
.highscore-item-odd .rank,
.highscore-item-odd .username,
.highscore-item-odd .score {
    border: 5px solid black;
    background-color: #c39c40;
}

/* Even rows */
.highscore-item-even .rank,
.highscore-item-even .username,
.highscore-item-even .score {
    border: 5px solid black;
    background-color: #77311f;
}


/* Rank Column */
.highscore-item .rank {
    text-align: center;
    font-weight: bold;
    border-radius: 8px 0 0 8px;
}

/* Username Column */
.highscore-item .username {
    text-align: left;
    padding-left: 10px;
}

/* Score Column */
.highscore-item .score {
    text-align: right;
    padding-right: 10px;
    border-radius: 0 8px 8px 0;
}

/* Last Sitter Section in Highscore Style */
.last-sitter {
    display: grid;
    grid-template-columns: auto 1fr;
    border-radius: 8px;
    padding: 15px;
    max-width: 820px;
    /* Match width with highscore items */
    gap: 10px;
    margin: 0 auto;
}

/* Title Item */
.last-sitter-title h4 {
    align-items: left;
    padding: 10px;
    background-color: #77311f;
    /* Same color as odd highscore items */
    text-align: center;
    font-weight: bold;
    color: #fff;
    font-size: 1.2rem;
    border: 5px solid black;
    border-radius: 20px;
}

/* Names Item */
.last-sitter-names p {
    border: 5px solid black;
    margin: 0;
    padding: 10px;
    background-color: #77311f;
    text-align: left;
    border-radius: 20px;
}


/* Responsive Width for Small Screens */
@media (min-width: 768px) and (max-width: 1024px) {
    /* Last Sitter Section in Highscore Style */

    .highscore-item {
        gap: 15px;
        padding: 3px;
    }

    .last-sitter {
        padding: 5px;
    }

    .highscore {
        background-size: cover;
    }

}


/* Responsive Width for Small Screens */
@media (max-width: 768px) {

    .highscore-item {
        gap: 3px;
        padding: 1px;
    }

    .last-sitter {
        padding: 50px;
    }

    .highscore {
        background-size: cover;
    }

}