/* Root and Base Sizing */
:root {
    --base-padding: 10px;
    /* Use absolute units for padding */
    --base-font-size: 20px;
    /* Define a base font size */
}

/* Main Container */
.play-area {
    background-color: rgb(31, 59, 43);
    border: 6px solid rgb(0, 0, 0);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3), inset 0 4px 10px rgba(0, 0, 0, 0.6);
    padding: var(--base-padding);
    border-radius: 20px;
    width: 55%;
    margin: 60px auto;
    text-align: center;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}


.play-area h1 {
    font-size: var(--base-font-size);
    color: #ffffff;
    margin-bottom: 8px;
    font-weight: bold;
}

/* Play-With-Me Section */
.play-with-me {
    background-image: url('../img/bg_interact-with-me.webp');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    color: black;
    padding: 20px;
    margin: -1.5% auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 1100px;
    width: 100%;
    aspect-ratio: 2535 / 2064;
}

/* Game Frame */
.game-container {

    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    border: 6px solid rgb(0, 0, 0);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

/* Animation Container */
#animation_container {
    position: relative;
    width: 100%;
}

.canvas {
    width: 100%;
}

.dom_overlay_container {
    pointer-events: none;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.bowl_container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
}

.bowl_image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

/* Progress Bars */
.progress-bars {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.progress-bar-container {
    width: 100%;
    height: 12px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1px;
    background-color: #000000;
}

.progress-bar {
    height: 100%;
    border-radius: 3px;
}

.progress-bar.blue {
    background-color: #3498db;
}

.progress-bar.green {
    background-color: #2ecc71;
}

.progress-bar.yellow {
    background-color: #f1c40f;
}

/* Right Panel and Button Grid */
.right-panel {
    margin-top: 10px;
    padding: 10px;
    background-color: rgba(61, 21, 0, 0.7);
    border-radius: 12px;
    border: 6px solid rgb(0, 0, 0);
    box-shadow: 0 18px 18px rgba(0, 0, 0, 0.3);
    width: 100%;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

.button-grid h4 {
    grid-column: span 2;
    font-size: 12px;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 8px;
}

.button-grid button {
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    padding: 15px 20px; /* Adjust padding as needed */
    width: 100%; /* Ensures button takes full grid cell width */
    aspect-ratio: 5 / 1;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;    
    gap: 5px;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.btn-howto {
    background-image: url('../img/buttons/button_howto.webp');
}

.btn-howto:hover {
    background-image: url('../img/buttons/howto_hv.webp');
}

.btn-clean {
    background-image: url('../img/buttons/button_cleame.webp');
}

.btn-clean:hover {
    background-image: url('../img/buttons/cleanme_hv.webp');
    /* Replace with hover image */
}

.btn-play {
    background-image: url('../img/buttons/button_energy.webp');
}

.btn-play:hover {
    background-image: url('../img/buttons/energy_hv.webp');
    /* Replace with hover image */
}

.btn-feed {
    background-image: url('../img/buttons/button_hunger.webp');
}

.btn-feed:hover {
    background-image: url('../img/buttons/hunger_hv.webp');
    /* Replace with hover image */
}

/* Responsive Width for Small Screens */
@media (min-width: 768px) and (max-width: 1024px) {

    .play-area {
        width: 70%;
        margin: 100px auto;
        padding: 15px;
    }

    .play-area h1 {
        font-size: 24px;
        margin-bottom: 15px;
    }

    .play-with-me {
        background-size: auto;
        margin: -10% auto;
    }

}

/* Responsive Width for Small Screens */
@media (max-width: 768px) {

    .play-area {
        width: 100%;
        margin: 0px auto;
        padding: 15px;
    }

    .play-area h1 {
        font-size: 24px;
        margin-bottom: 8px;
    }

    .play-with-me {
        background-size: auto;
        margin: -5% auto;
    }
}