.road-map {
    position: relative;
    background-image: url("../img/roadmap.webp");
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    padding: 40px 20px;
    margin: 0 auto;
    top: -80px; /* Verschiebt die Roadmap nach oben - wird dynamisch nachberechnet - javascript */ 
    text-align: center;
    color: #fff;
    max-width: 1100px;
    width: 100%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    aspect-ratio: 2535 / 1700;
    font-size: 1.5rem;
    text-align: start;
    font-family: "Montserrat variant0", Tofu;
    font-weight: 700;
    line-height: initial;
    opacity: 1;
    transition-duration: 350ms;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
    z-index: 1;
}

@media (max-width: 768px) {

    .road-map {
        z-index: 3;
        top: -70px;
    }

}